* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo{
  font-size: 37px;
  user-select: none;
  color: #cdf381;

}
li a{
  font-size: 40px;
color: #cdf381;
}
.menuSvg{
  transition: all 10s ease;
}
li a{
  cursor: pointer;
}
.bgHeader{
  background-color: #503bd5;
}
.textLanding p{
  color: #fff;
}
.textLanding{
  text-transform: capitalize;
  gap: 25px;
}
.imageLanding{
  position: relative;
}
.imageLanding img{
  z-index: 10;
}
.imageLanding .four{
  
}
.textLink{
  font-size: 22px;
  font-weight: 800;
}
.textBase{
  font-size: 20px;
  font-weight: 800;
}
.active{
  background: -webkit-linear-gradient(
    180deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width:768px) {
  .textBase{
    font-size: 16px;
  }
  .textLink{
    font-size: 19px;
  }
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width:1200px) {
  .textBase{
    font-size: 19px;
  }
  .textLink{
    font-size: 22px;
  }
}
.textBase:hover,
.textLink:hover{
  background: -webkit-linear-gradient(
    180deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageLanding img{
  z-index: 100;
}
.imageLanding .one{
  z-index: 1;
}
.imageLanding .two{
  z-index: 1;
}.imageLanding .three{
  z-index: 1;
}
.textLanding p{
  padding: 0 20px;
}
.textLanding h3{
  position: relative;
  padding: 0 20px;
  color: #cdf381;
}

.textLanding{
  background-color: #503bd5;
}
/* .imageLanding{
  background-color: #503bd5;
} */
.macbookImg{
}
@media (min-width:768px) {
  .flexLanding{
    margin-top: 20px;
    align-items: center;
    min-height: 75vh;
    gap: 60px;
    padding: 0 30px;
  }
  .imageLanding svg{
    width: auto;
  }
  .textLanding h3{
    font-size: 25px;
    font-weight: 800;
  }
  .imageLanding img{
    max-width: 100%;
    z-index: 200;
  }
  .imageLanding .one{
    position: absolute;
    left: -43%;
    top: -44%;
    z-index: 1;
  }
  .imageLanding .two{
      position: absolute;
      right: 77%;
      top: 20%;
      z-index: 1;
  }
  .imageLanding .three{
      position: absolute;
      left: 44%;
      top: 80%;
      z-index: 1;
  }
  .imageLanding .three path{
    stroke: #fff;
  }
  .shortText p{
    font-size: 13px;
  }
  .textLanding{
    width: 80%;
    gap: 50px;
  }
}
@media (max-width:767px) {
  .flexLanding{
    flex-wrap: wrap;
    margin-top: 40px;
    min-height: 105vh;
    gap: 50px;
    padding: 0 30px;
  }
  .shortText{
margin-top: 50px;
  }
  .textLanding h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .imageLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .imageLanding img{
    max-width: calc(100% - 150px);
    margin-right: 24px;
  }
  .imageLanding .one{
    position: absolute;
    left: -23%;
    top: -38%;
    z-index: 1;
  }
  .imageLanding .two{
      position: absolute;
      right: 77%;
      top: 20%;
      z-index: 1;
  }
  .imageLanding .three{
      position: absolute;
      left: 47%;
      top: 80%;
      z-index: 1;
  }
  .imageLanding .two  path {
    stroke: #fff;
  }.imageLanding .three path{
    stroke: #503bd5;
  }
  .dot{
    position: absolute;
    margin-top: 35px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
  }
  .shortText .two,
  .shortText .one{
  font-size: 11px;
  }
}
@media (max-width:470px) {
  .textLanding h3{
    font-size: 33px;
    font-weight: 900;
  }
  .textLanding{
    gap: 3px;
  }
  .imageLanding img{
    max-width: calc(100% - 30px);
  }
  .imageLanding {
    margin-top: -70px;
  }
  .imageLanding .one{
    position: absolute;
    left: -38%;
    top: -43%;
    z-index: 1;
  }
  .imageLanding .two{
      position: absolute;
      right: 73%;
      top: 20%;
      z-index: 1;
  }
  .imageLanding .three{
      position: absolute;
      left: 35%;
      top: 80%;
      z-index: 1;
  }
  .dot{
    width: 10px;
    height: 10px;
    margin-top: 25px;
  }
}

@media (max-width:320px) {
  .imageLanding img{
    max-width: calc(100% - 4px);
  }
  .imageLanding {
    margin-top: -18px;
  }
  .imageLanding .one{
    position: absolute;
    left: -62%;
    top: -27%;
    z-index: 1;
  }
  .imageLanding .two{
      position: absolute;
      right: 55%;
      top: 20%;
      z-index: 1;
  }
  .imageLanding .three{
      position: absolute;
      left: 11%;
      top: 60%;
      z-index: 1;
  }
  
}
























































/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
