* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo{
  font-size: 37px;
  user-select: none;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.myGradient{
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
li a{
  font-size: 40px;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuSvg{
  transition: all 10s ease;
}
li a{
  cursor: pointer;
}
.textLink{
  font-size: 22px;
  font-weight: 800;
}
.textBase{
  font-size: 20px;
  font-weight: 800;
}
.active{
  font-size: 25px;
  position: relative;
  font-weight: 800;
  z-index: 10;
  transition: 2s ease;
  transition-delay: 2s;
}
.active::before{
  content: "";
  position: absolute;
  transition: 2s ease;
  transition-delay: 2s;
  width: 17px;
  height: 17px;
  right: 0;
  transform: translateX(-100px);
  opacity: 0.7;
  z-index: -1;
  display: none;
  border-radius: 3px;
  top: 30%;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
 
}
.active:hover:before{
  display: block;
  transform: translateX(-10px);
  transition: 2s ease;
}
@media (max-width:469px) {
  .landing{
    min-height: 80vh;
  }
}
@media (min-width:470px) {
  .landing{
    min-height: 73vh;
  }
}
/* .landing{
  min-height: 100vh;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */





























































/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
